<div class="container">
  <footer id="sticky-footer" class="py-4 pt-4 mt-4 text-white-50">
    <hr>
    <div class="footer">
      <div class="copyright">
        <small>Copyright &copy; 2021 COVID-19 MAP</small>
      </div>
      <div class="contact">
        <small>Developer Contact: +91 8707480900 </small>
      </div>
      <div class="counts" align='center'><a href='https://www.hit-counts.com/'><img src='http://www.hit-counts.com/counter.php?t=MTQ1Nzc1MQ==' border='0' alt='professional logo'></a><BR><a href='https://www.glowgraphics.co.uk/'></a></div>
    </div>
  </footer>
</div>

