.app-footer {
  position: bottom;
  left: 0;
  bottom: 0;
  color: white;
}
#sticky-footer {
  flex-shrink: none;
  font-family: 'Nunito', Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
