.chart {
  width: 100%;
  height: 600px;
}

.maintitle {
  font-size: 5vw;
  margin-bottom: 10px;
  color:#73f280;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.text-color {
  color: gold;
}
