.chart {
  width: 100%;
  height: 650px;
}

.maintitle {
  font-size: 4vw;
  color:#73f280;
  font-family: 'Nunito', Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.text-color {
  color: gold;
  font-family: 'Nunito', Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
