<div class="container">
  <div class="row mt-3 mb-3">
    <div class="col-xs-12 col-sm-8 mt-2 mb-3">
      <h1 class="maintitle">INDIA COVID-19 MAP</h1>
    </div>
    <div class="col-xs-12 col-sm-3 pt-4">
      <select
        (change)="onSelect($event)"
        class="form-select form-select-lg bg-dark text-color"
        aria-label=".form-select-sm example"
      >
        <option selected value="active">Active Cases</option>
        <option value="confirmed">Confirmed Cases</option>
        <option value="deaths">Deaths</option>
        <option value="recovered">Recovered Cases</option>
      </select>
    </div>
  </div>

  <div style="position: relative">
    <ngx-spinner
      bdColor="rgb(12, 17, 24)"
      size="large"
      color="#4f7931"
      type="ball-circus"
      [fullScreen]="false"
    >
    </ngx-spinner>
    <div class="row">
      <div class="col-xs-12 col-sm-6">
        <div #indiachart class="chart"></div>
      </div>
      <div class="col-xs-12 col-sm-6">
        <div #barchart class="chart"></div>
      </div>
    </div>
  </div>
</div>
