<p>Last updated at: {{ overviewData.last_updated.value }} </p>

<table class="table table-dark table-striped">
  <thead>
    <tr>
      <th scope="col">Description</th>
      <th scope="col">Number</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of overviewData.tableData">
      <td>{{ item.description }}</td>
      <td>{{ item.value }}</td>
    </tr>
</table>
<div class="row">
  <div class="col">
    <button type="button" class="btn btn-primary btn-lg " (click)="tomap()">
      Show India Map <img src="../../assets/link.svg" alt="" width="19" height="19">
    </button>
  </div>
  <div class="col">
    <button type="button" class="btn btn-primary btn-lg " (click)="totimeline()">
      Show India Timeline <img src="../../assets/link.svg" alt="" width="19" height="19">
    </button>
  </div>
</div>

<hr>
<h3>India Recovery Rate: <strong> {{ this.overviewData.recovery_rate }} </strong> % </h3>
