<div class="container">
  <div class="row mt-3 mb-3">
    <div class="col-xs-12  mt-2 mb-3">
      <h1 class="maintitle">USEFUL TWITTER TIMELINES FOR COVID-19</h1>
    </div>
    <hr style="border: 2px solid rgb(87, 87, 236);">
  </div>
  <div style="position: relative">
    <ngx-spinner
      bdColor="rgb(12, 17, 24)"
      size="large"
      color="#4f7931"
      type="ball-circus"
      [fullScreen]="false"
    >
    </ngx-spinner>
    <div class="row">
      <div class="col-xs-12 col-sm-4">
        <a
        class="twitter-timeline"
        height="650"
        data-theme="dark"
        href="https://twitter.com/COVIDNewsByMIB?ref_src=twsrc%5Etfw">
          Tweets by TwitterDev
       </a>
      </div>
      <div class="col-xs-12 col-sm-4">
        <a
        class="twitter-timeline"
        height="650"
        data-theme="dark"
        href="https://twitter.com/WHO?ref_src=twsrc%5Etfw">
          Tweets by TwitterDev
       </a>
      </div>
      <div class="col-xs-12 col-sm-4">
        <a
        class="twitter-timeline"
        height="650"
        data-theme="dark"
        href="https://twitter.com/MoHFW_INDIA?ref_src=twsrc%5Etfw">
          Tweets by TwitterDev
       </a>
      </div>
    </div>
    <div class="row mt-3">
      <div class="col-xs-12 col-sm-4">
        <a
        class="twitter-timeline"
        height="650"
        data-theme="dark"
        href="https://twitter.com/Reuters?ref_src=twsrc%5Etfw">
          Tweets by TwitterDev
       </a>
      </div>
      <div class="col-xs-12 col-sm-4">
        <a
        class="twitter-timeline"
        height="650"
        data-theme="dark"
        href="https://twitter.com/cnnbrk?ref_src=twsrc%5Etfw">
          Tweets by TwitterDev
       </a>
      </div>
      <div class="col-xs-12 col-sm-4">
        <a
        class="twitter-timeline"
        height="650"
        data-theme="dark"
        href="https://twitter.com/ndtv?ref_src=twsrc%5Etfw">
          Tweets by TwitterDev
       </a>
      </div>
    </div>
  </div>
</div>
