.maintitle {
  font-size: 5vw;
  margin-bottom: 20px;
  color:#73f280;
  font-weight: 900;
  font-family: 'Nunito', Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.text-color {
  font-family: 'Nunito', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: rgb(244, 242, 248);
}
