<div class="container">
  <div class="input-group mb-3">
    <input
      [(ngModel)]="searchText"
      type="text"
      style="color: white"
      class="form-control bg-dark"
      placeholder="Search Other videos"
      aria-label="Recipient's username"
      aria-describedby="button-addon2"
    />
    <button
      class="btn btn-outline-secondary bg-dark"
      type="button"
      id="button-addon2"
      (click)="onCustomSearch()"
    >
      Search
    </button>
  </div>
  <div class="row text-center" *ngIf="error" style="color: red">
    <p>
      {{ error }}
      <button
        style="margin-left: 5px"
        type="button"
        class="btn btn-danger"
        (click)="onRetry()"
      >
        Retry
      </button>
    </p>
  </div>
  <div class="grid">
      <app-video-item  *ngFor="let url of urls" [url]="url"></app-video-item>
  </div>
  <div class="row" style="margin-top: 20px">
    <div class="btn-group" role="group" aria-label="Basic mixed styles example">
      <button type="button" class="btn btn-danger" (click)="onPrev()">
        Previous
      </button>
      <button type="button" class="btn btn-success" (click)="onNext()">
        Next
      </button>
    </div>
  </div>
</div>
